/**
 * Created by IisDean on 2018/8/23.
 */
html,body {
    margin: 0;
    padding: 0;
}
body {
    background-color: #fff;
}
.user-head {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 35px;
    height: 35px;
    background-image: url(../Images/iisdean_head.jpg);
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
}
.ui-full-img img {
    display: block;
    width: 100%;
}
.ui-text-center {
    text-align: center;
}
.page-container {
    position: fixed;
    top: 50%;
    left: 0%;
    right: 0%;
    margin: 0 auto;
    transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.loading-wrap {
    margin: 0 auto;
    width: 100px;
}
.user-name-text {
    margin: 10px auto 0;
    font-size: 16px;
    color: #333;
}
.name-label-text {
    font-weight: bold;
    font-size: 20px;
}
.user-msg-text {
    font-size: 12px;
}